* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header {
    background-color: #737173;
    display: flex;
    padding: 20px 200px;
    align-items: center;
    justify-content: space-between;
    color: #F6F5F1;
}

header h1{
    font-size: 24px;
}

header ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

header a{
    font-size: 18px;
}

header a, header a:active{
    text-decoration: none;
    color: inherit;
}

header a:hover{
    color: #FF9C37;
}

.hero{
    display: flex;
    padding: 70px 200px;
    background-color: #737173;
    color: #F6F5F1;
    align-items: center;
    justify-content: space-between;
}

.hero .content{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.hero h2{
    font-size: 48px;
    font-weight: 900;
}

.hero p{
    font-size: 18px;
}

.hero button{
    padding: 10px 20px;
    background-color:rgb(208,108,55);
    border-radius: 10px;
    border: none;
    color: #F6F5F1;
    font-weight: bold;
}

.hero img{
    width: 500px;
    height: auto;
}

.information{
    padding: 70px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F5F1;
    gap: 50px;
    padding-bottom: 120px;
}

.illusts{
    display: flex;
    gap: 50px;
}

.illust{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    text-align: center;
}

.illust img{
    width: 100%;
    height: auto;
    border: 2px solid #FF9C37;
    border-radius: 10px;
}

.information h2{
    font-size: 32px;
    font-weight: 900;
}

.quote{
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #737173;
    color: #F6F5F1;
    flex-direction: column-reverse;
}

.phrase{
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    line-height: 2rem;
}

.author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 25px;
}

.call{
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    background-color: #F6F5F1;
}

.card{
    background-color: rgb(208,108,55);
    color: #F6F5F1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 30px 60px;
    justify-content: space-between;
    border-radius: 10px;
}

.card button{
    background-color: rgb(208,108,55);
    color: #F6F5F1;
    border: 1px solid #F6F5F1;
    border-radius: 10px;
    padding: 10px 30px;
}

footer{
    background-color: #737173;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: #F6F5F1;
}